* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f3f6;
    color: #212121;
}

.navbar {
    height: 60px;
    background-color: #2874f0;

    display: flex;
    align-items: center;

    padding: 0 50px;
    gap: 25px;

    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    font-style: italic;

    width: 130px;
}

.logo span {
    display: block;
    font-size: 11px;
    color: #ffe500;
    font-style: normal;
}

.search {
    display: flex;

    width: 500px;
    height: 38px;

    background-color: white;
}

.search input {
    flex: 1;

    border: none;
    outline: none;

    padding: 0 15px;

    font-size: 14px;
}

.search button {
    width: 50px;

    border: none;

    background-color: white;

    cursor: pointer;
}

.login {
    width: 110px;
    height: 35px;

    border: none;

    background-color: white;
    color: #2874f0;

    font-weight: bold;

    cursor: pointer;
}

.nav-item {
    white-space: nowrap;
    font-size: 14px;
    font-weight: bold;
}

.cart {
    white-space: nowrap;
    font-weight: bold;
}

.categories {
    background-color: white;

    display: flex;
    justify-content: center;

    gap: 45px;

    padding: 15px 20px;

    margin-bottom: 10px;
}

.category {
    text-align: center;
    cursor: pointer;
}

.category-img {
    font-size: 35px;
    margin-bottom: 8px;
}

.category p {
    font-size: 14px;
    font-weight: bold;
}

.banner {
    height: 280px;

    margin: 0 10px 15px;

    background: linear-gradient(
        90deg,
        #2874f0,
        #00a8ff,
        #2874f0
    );

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    color: white;
}

.banner-content h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.banner-content p {
    font-size: 23px;
    margin-bottom: 25px;
}

.banner-content button {
    padding: 12px 30px;

    border: none;

    background-color: #ff9f00;
    color: white;

    font-weight: bold;

    cursor: pointer;
}

.section {
    background-color: white;

    margin: 10px;

    padding: 20px;
}

.section-heading {
    display: flex;

    justify-content: space-between;
    align-items: center;

    margin-bottom: 20px;

    border-bottom: 1px solid #ddd;

    padding-bottom: 15px;
}

.section-heading h2 {
    font-size: 24px;
}

.section-heading button {
    background-color: #2874f0;

    color: white;

    border: none;

    padding: 10px 20px;

    cursor: pointer;
}


.products {
    display: grid;

    grid-template-columns: repeat(6, 1fr);

    gap: 15px;
}

.product {
    position: relative;

    padding: 15px;

    text-align: center;

    border: 1px solid #eee;

    background-color: white;

    transition: 0.3s;
}

.product:hover {
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);

    transform: translateY(-4px);
}

.product img {
    width: 100%;
    height: 170px;

    object-fit: contain;

    margin-bottom: 10px;
}

.product h3 {
    font-size: 16px;

    margin-bottom: 8px;
}

.rating {
    display: inline-block;

    background-color: #1ca723;
    color: white;

    padding: 4px 7px;

    border-radius: 3px;

    font-size: 12px;

    margin-bottom: 8px;
}

.price {
    font-size: 18px;

    font-weight: bold;

    margin-bottom: 4px;
}

.old-price {
    text-decoration: line-through;

    color: #878787;

    font-size: 13px;

    margin-bottom: 5px;
}

.offer {
    color: #388e64;

    font-size: 13px;

    font-weight: bold;

    margin-bottom: 12px;
}

.product button {
    width: 100%;

    padding: 9px;

    background-color: #fe9306;

    color: white;

    border: none;

    border-radius: 7px;

    cursor: pointer;

    font-weight: bold;
}

.product button:hover {
    background-color: #b95320;
}

.discount {
    position: absolute;

    top: 8px;
    left: 8px;

    background-color: #e53935;

    color: white;

    padding: 4px 7px;

    font-size: 11px;

    border-radius: 3px;
}

footer {
    background-color: #172337;

    color: white;

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    padding: 40px 80px;

    gap: 50px;
}

footer h3 {
    color: #4f4e4e;

    font-size: 13px;

    margin-bottom: 15px;
}

footer p {
    font-size: 13px;

    margin-bottom: 10px;

    cursor: pointer;
}

footer p:hover {
    text-decoration: underline;
}

.copyright {
    background-color: #172337;

    color: white;

    text-align: center;

    border-top: 1px solid #454d5e;

    padding: 20px;
}

@media (max-width: 1100px) {

    .products {
        grid-template-columns: repeat(4, 1fr);
    }

    .nav-item {
        display: none;
    }

    .search {
        width: 400px;
    }
}


@media (max-width: 800px) {

    .navbar {
        padding: 10px 20px;
    }

    .search {
        width: 300px;
    }

    .categories {
        overflow-x: auto;
        justify-content: flex-start;
    }

    .products {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 600px) {

    .navbar {
        height: auto;

        flex-wrap: wrap;

        padding: 15px;
    }

    .search {
        order: 3;

        width: 100%;
    }

    .products {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        grid-template-columns: repeat(2, 1fr);

        padding: 30px;
    }
    .banner-content h1 {
        font-size: 30px;
    }
}

